.headerProfile{
    display: block;
    max-width: 100%;
}
a#goToHomepage{
    width: 200px;
    height: 50px;
    margin-top: -20px;
    position: absolute;
    z-index: 2;
    background: url(../../img/logo.svg) center no-repeat;
}
@media screen and (min-width: 320px) and (max-width: 460px){
    a#goToHomepage{
        transform: scale(.8,.8);
        margin-left: -40px;
    }
}
@media screen and (min-width: 768px) and (max-width: 900px){
    a#goToHomepage{
        margin-left: -40px;
    }
}
