.navTag a{
    height: 25px;
}
.gridPhotographerTag a{
    margin-bottom: 50px;
    max-width: 470px;
    margin-right: 5px;
}
.navTag a, .gridPhotographerTag a{
    border: 0.5px solid #757575;
    box-sizing: border-box;
    border-radius: 11px;
    padding: 2px;
}