.photographer{
    max-width: 1240px;
    margin-left: auto;
    margin-right: auto;
    height: 313px;
    position: absolute;
    left: 0%;
    right: 0%;
    bottom: 0%;
    border-radius: 5px;
    &Pictures{
        height: fit-content;
        margin-top: 360px;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        overflow-x: hidden;
        &Link{
            width: fit-content;
            height: fit-content;
            cursor: pointer;
        }
        &Img{
            width: 350px;
            height: 300px;
            object-fit: cover;
            margin: 30px;
            border-radius: 5px;
        }
        &Title{
            width: 350px;
        }
        &Title:hover{
            color: $color-primary-bg;
        }
        &Likes, &NbrLikes{
            position: relative;
        }
        &Likes:hover{
            cursor: pointer;
        }
    }
    &About{
        position: absolute;
        width: 90%;
        height: 228px;
        left: 30px;
        top: 30px;
        &Name{
            position: absolute;
            left: 0%;
            right: 21.23%;
            top: 0%;
            bottom: 58.5%;
            width: fit-content;
        }
        &Name2{ width: 535px }
        &Name3{ width: 407px }
        &Name4{ width: 480px }
        &Name5{ width: 413px }
        &Name6{ width: 409px }
        &Location{
            position: absolute;
            left: 0%;
            right: 65.36%;
            top: 43.5%;
            width: 200px;
        }
        &Quote{
            position: absolute;
            left: 0%;
            right: 2.79%;
            top: 56.5%;
            bottom: 22%;
            width: fit-content;
        }
        &Tags{
            position: absolute;
            margin-top: 10px;
        }
        &Tags a{ 
            border: 0.5px solid #757575;
            box-sizing: border-box;
            border-radius: 11px;
            padding: 2px;
            margin-right: 2px;
            margin-left: 2px;
            &:hover{
                background-color: $color-primary-bg;
                color: white;
            }
        }   
    }
    &Contact{
        position: absolute;
        top: 50px;
        left: 350px;
    }
    &Pic{
        position: absolute;
        top: 35px;
        right: 40px;
        width: fit-content;
    }    
    &Pic img{
        width: 200px;
        height: 200px;
        border-radius: 50%;
        object-fit: cover;
    }
}
.sorting{
    &Text{
        position: absolute;
        margin-left: 70px;
    }
}
@media screen and (min-width: 768px){
    .photographerPictures{
        margin-top: 500px;
    }
}
