$color-primary-bg: #901C1C;
$color-primary-text: #D3573C;
$color-secondary-bg: #D3573C;
$color-secondary-desc: #525252;
$color-secondary-text: #901C1C;
$color-secondary-tag-bg: #FAFAFA;
$color-modal-bg: #DB8876;

$font: "DM Sans";